#app[data-theme=dark] {
  --primary-color: rgb(19, 20, 21);
  // --second-color: rgb(54; 54; 55);
  --text-primary-color: #fff;
  --text-regular-color: #E4E7ED;
  --text-secondary-color: #909399;
  --text-placeholder-color: #C0C4CC;
  --text-active-color: #d6cdcd;

  --item-bgc-color: rgb(25,33,42);
  --color-primary: #1B95F8;
  --color-info: #7B88A9;
  --background-color-base: #01305F;
  --color-white: #1B3651;
  --color-black: #012447;
  --color-text-primary: #FFFFFF;
  --color-text-regular: #F9F9F9;
  --color-text-placeholder: #E4E2E2;
  --color-text-secondary: #EEEEEE;
  --border-color-base: #2590F9;
  --border-color-light: #388DE0;
  --border-color-lighter: #58A9F5;
  --border-color-extra-light: #86B3F9
}
#app[data-theme=dark] {
  // .var-tabs {
  //   background-color: #333;
  // }
  .dd {
    background-color: var(--primary-color);
  }
}