// 垂直 水平居中
@mixin hor-ver-align {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// 水平居中
@mixin hor-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin noScrollBar {
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
