.svg-class {
  // display: inline-block;
  // width: 1em;
  // min-width: 14px;
  // height: 1em;
  // overflow: hidden;
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: baseline;
}